/* Credits for this Discord theme goes to Vadenimo, and MrTipson. 
MrTipson documentated useful information about making a transperent Discord theme.
Vadenimo is responsible for editing the CSS with its additions.
© 2024-2025 Vadenimo, MrTipson. */

/* Customizable Variables */ 

:root, :root .theme-darker, :root .theme-dark, :root .theme-light,
.visual-refresh.theme-light, .visual-refresh .theme-light,
.visual-refresh.theme-dark, .visual-refresh .theme-dark {

    /* Client's Background Settings */

	--background-image: none;
	--background-color: none;
	--background-filter: none;
	--window-opacity: 1;

    /* Font Settings */
	
    --font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

    --font-clan-body: Fraunces, "gg sans", serif, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-clan-signature: Corinthia, "gg sans", cursive, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display-marketing: "ABC Ginto Discord", "gg sans", serif, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display-marketing-header: "ABC Ginto Nord Discord", "gg sans", serif, "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Client's Background Variables */

    --background-base-lower: var(--background-secondary);
    --background-base-lowest: var(--background-primary);

    /* Active it only, if you want to have your user card, and more in an transperent color. */
/*  --background-base-low: var(--background-secondary); */

    /* Client's Chat Input Background: To activate the transparency, remove the slash and the star characters. */
    
/*  --chat-background: transparent !important;
    --chat-background-default: transparent !important; */
}


/* Transparency */

html {
	filter: opacity(var(--window-opacity));
}

/* Full Background */

.bg__960e4 {
	background: var(--background);
	background-image: var(--background-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
	background-size: cover;
	background-color: var(--background-color);
	filter: var(--background-filter);
}
